//
// Secrets.xcconfig
// Foncii
//
// Created by Justin Cook on 4/22/23 at 1:18 AM
// Copyright © 2023 Foodie Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// API Keys and Client information
FONCII_SERVER_API_KEY = Y1dsSGRHRnNRakUyUlZKcGMxRnplR2d5WVVKNFQwRXdUWEZMTWpoblQxVnFTVWRLUTBGbFVGTnhkeTB0VlQxT1QxRlVNRU0xWTA1MmJqUkdUVmM0YUNwTVpIbGZNa1JJY2l0cmJRPT0=

AMPLITUDE_PROD_API_KEY = 337d48a93dcbbca827e4fda3c54a025a
AMPLITUDE_DEV_API_KEY = f3f0815b35b3c5d6ff2e37def1cd7e29

CLIENT_ID = foncii_ios_native
