<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594762600292-3f52l9edfjl2mtegjeb46hv5brddumuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594762600292-3f52l9edfjl2mtegjeb46hv5brddumuh</string>
	<key>API_KEY</key>
	<string>AIzaSyBvqwRWML4hW9xmSImyOGn6pzJTzTK8Yfw</string>
	<key>GCM_SENDER_ID</key>
	<string>594762600292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foncii.foncii-ios</string>
	<key>PROJECT_ID</key>
	<string>foncii-app</string>
	<key>STORAGE_BUCKET</key>
	<string>foncii-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594762600292:ios:55c1432f1e21c28fae3471</string>
</dict>
</plist>